.btn {
    display: block;
    padding: 10px 16px;
    border-radius: 3px;
    width: fit-content;
    min-width: 120px;
    text-decoration: none;
    outline: none;
    border: none;
    text-align: center;
    background-color: #fff;
    color: $textColor;
    font-size: 1.4rem;
    cursor: pointer;
}
.btn:hover {
    background-color: #fafafa;
}
.btn.btn--primary {
    background-color: $primaryColor;
    color: #fff;
}
// Model
.model {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    display: none;
}
.model.active {
    display: block;
}
.model__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.model__container {
    background-color: #fff;
    margin: auto;
    position: relative;
    border-radius: 4px;
    max-width: 480px;
}
