* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes growth {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.btn {
  display: block;
  padding: 10px 16px;
  border-radius: 3px;
  width: fit-content;
  min-width: 120px;
  text-decoration: none;
  outline: none;
  border: none;
  text-align: center;
  background-color: #fff;
  color: #333;
  font-size: 1.4rem;
  cursor: pointer;
}
.btn:hover {
  background-color: #fafafa;
}

.disable {
  opacity: 0.4;
  cursor: default;
}

.btn.btn--primary {
  background-color: #fb5533;
  color: #fff;
}
.btn.btn--primary:hover {
  opacity: 0.9;
}

.model {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  display: none;
}

.model.active {
  display: block;
}

.model__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.model__container {
  background-color: #fff;
  margin: auto;
  position: relative;
  border-radius: 4px;
  max-width: 480px;
}

.header {
  height: 120px;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #f53d2d, #ff6633);
}
.header__nav {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  margin-left: 16px;
  width: 1200px;
  max-width: 100%;
  margin: auto;
  max-width: calc(100% - 16px);
}
.header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-left: -8px;
  margin-right: -8px;
}
.header__nav-item {
  font-size: 1.3rem;
  margin: 0 8px;
  position: relative;
}
.header__nav-item span {
  color: #fff;
}
.header__nav-item--has-separate::before {
  content: "";
  display: block;
  width: 2px;
  height: 16px;
  background-color: #f96c5c;
  left: -9px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.header__nav-item-link {
  text-decoration: none;
  color: #fff;
}
.header__nav-item-img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.header__nav-item-name {
  font-size: 1.4rem;
  margin-left: 28px;
}
.header__nav-icon-link {
  color: #fff;
  margin-left: 6px;
  font-size: 1.5rem;
}
.header__nav-item-link:hover, .header__nav-icon-link:hover {
  opacity: 0.8;
}
.header__nav-icon {
  font-size: 1.5rem;
  margin: 0 2px;
}
.header__nav-item--has-download:hover .header__download {
  display: block;
}
.header__download {
  width: 180px;
  position: absolute;
  top: calc(100% + 16px);
  left: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background-color: #fff;
  animation: fadeIn linear 0.2s;
  display: none;
  z-index: 2;
}
.header__download::before {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  position: absolute;
  top: -20px;
  left: 0;
}
.header__download-qr-code {
  width: 95%;
  padding-top: 95%;
  background-color: #fff;
  margin: 4px auto;
  background: url("../images/qr_code.png") center center/contain no-repeat;
}
.header__download-apps {
  padding: 4px 16px 12px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;
}
.header__download-apps-img {
  width: 100%;
  object-fit: cover;
}
.header__nav-item--has-notify:hover .header__notify {
  display: block;
}
.header__notify {
  background-color: #fff;
  width: 400px;
  position: absolute;
  top: calc(100% + 12px);
  right: 0;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transform-origin: calc(100% - 40px) top;
  animation: growth linear 0.2s;
  display: none;
  z-index: 2;
}
.header__notify::before {
  content: "";
  display: block;
  width: 100%;
  height: 12px;
  position: absolute;
  top: -12px;
  left: 0;
}
.header__notify::after {
  content: "";
  border-width: 20px 30px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  border-top: none;
  position: absolute;
  top: -12px;
  right: 12px;
}
.header__notify-heading {
  font-size: 1.5rem;
  font-weight: 300;
  color: #cacaca;
  padding: 12px 12px 8px;
}
.header__notify-list {
  list-style: none;
}
.header__notify-item {
  padding: 8px 12px;
  background-color: #fde1d7;
}
.header__notify-item:hover {
  background-color: #e4e4e4;
  transition: all linear 0.15s;
  will-change: background-color;
}
.header__notify-item--seen {
  background-color: #fafafa;
}
.header__notify-item-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
.header__notify-item-img {
  width: 60px;
}
.header__notify-item-info {
  padding: 0 16px;
}
.header__notify-item-title {
  color: #333;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.header__notify-item-description {
  color: #999;
  margin-top: 6px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.header__notify-footer {
  font-size: 1.5rem;
  color: #333;
  padding: 12px 64px;
  text-align: center;
  border-top: 1px solid #ddd;
}
.header__notify-quantity {
  font-size: 1rem;
  padding: 0 5px;
  border-radius: 10px;
  background-color: #fff;
  color: #fb5533 !important;
  position: absolute;
  top: -8px;
  left: 4px;
  border: 2px solid #e63828;
}
.header__nav-item--has-language:hover .header__language {
  display: block;
}
.header__language {
  position: absolute;
  top: calc(100% + 12px);
  right: 0;
  background-color: #fff;
  color: #333;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transform-origin: calc(100% - 40px) top;
  animation: growth linear 0.15s;
  display: none;
  z-index: 2;
}
.header__language::before {
  content: "";
  border-width: 20px 30px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  border-top: none;
  position: absolute;
  top: -10px;
  right: 16px;
}
.header__language::after {
  content: "";
  display: block;
  width: 100%;
  height: 12px;
  position: absolute;
  top: -12px;
  left: 0;
}
.header__language-list {
  list-style: none;
  width: 200px;
}
.header__language-item {
  font-size: 1.4rem;
  padding: 12px;
  cursor: pointer;
}
.header__language-item:hover {
  color: #fb5533;
}
.header__language-item:first-child {
  border-bottom: 1px solid #ddd;
}
.header__nav-item--has-account:hover .header__account {
  display: block;
}
.header__account {
  display: none;
  list-style: none;
  position: absolute;
  top: calc(100% + 12px);
  right: 0;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 2;
  min-width: 160px;
  transform-origin: calc(100% - 28px) top;
  animation: growth linear 0.15s;
}
.header__account::before {
  content: "";
  display: block;
  width: 100%;
  height: 12px;
  position: absolute;
  top: -12px;
  left: 0;
}
.header__account::after {
  content: "";
  border-width: 20px 30px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  border-top: none;
  position: absolute;
  top: -10px;
  right: 0;
}
.header__account-item {
  padding: 12px 16px;
}
.header__account-item:hover {
  background-color: #fafafa;
  cursor: pointer;
}
.header__account-item:hover .header__account-item-link {
  color: #fb5533;
}
.header__account-item-link {
  color: #333;
  font-size: 1.4rem;
  text-decoration: none;
}
.header__container {
  flex: 1;
  display: flex;
  align-items: center;
  width: 1200px;
  max-width: 100%;
  margin: auto;
}
.header__brand {
  width: 160px;
  margin: 0 48px 0 12px;
}
.header__brand-link {
  display: block;
  cursor: pointer;
}
.header__search {
  flex: 1;
  position: relative;
  top: 8px;
}
.header__search-area {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
}
.header__search-input {
  padding: 12px;
  border: none;
  outline: none;
  border-radius: inherit;
  font-size: 1.4rem;
  width: 85%;
}
.header__search-btn {
  padding: 9px 22px;
  margin: auto 3px auto 0;
  font-size: 1.4rem;
  color: #fff;
  background-color: #fb5533;
  border-radius: 3px;
  cursor: pointer;
}
.header__search-btn:hover {
  opacity: 0.9;
}
.header__search-input:focus ~ .header__search-history {
  animation: fadeIn linear 0.15s;
  display: block;
}
.header__search-history {
  position: absolute;
  top: 46px;
  left: 0;
  width: 85%;
  background-color: #fff;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none;
}
.header__search-history-heading {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 12px;
  color: #333;
}
.header__search-history-list {
  list-style: none;
}
.header__search-history-item {
  padding: 12px;
  font-size: 1.4rem;
  border: 1px solid #fafafa;
}
.header__search-history-heading:hover, .header__search-history-item:hover {
  background-color: #fafafa;
  cursor: pointer;
}
.header__search-history-item-link {
  text-decoration: none;
  color: #333;
}
.header__search-recent-list {
  display: flex;
  list-style: none;
  margin-top: 9px;
  margin-left: -8px;
}
.header__search-recent-item {
  padding: 0 8px;
}
.header__search-recent-item--link {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}
.header__search-recent-item--link:hover {
  opacity: 0.8;
}
.header__cart {
  position: relative;
  margin: 0 32px;
  color: #fff;
  cursor: pointer;
}
.header__cart-icon {
  font-size: 2.2rem;
  padding: 12px 16px;
}
.header__cart-quantity {
  font-size: 1.4rem;
  padding: 1px 7px;
  border-radius: 10px;
  background-color: #fff;
  color: #fb5533;
  position: absolute;
  top: 0;
  right: 0;
  border: 2px solid #e63828;
}
.header__cart:hover .header__cart-list {
  display: flex;
  transform-origin: calc(100% - 32px) 0;
  animation: growth linear 0.2s;
}
.header__cart-list {
  position: absolute;
  top: calc(100% - 1px);
  right: -12px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  cursor: default;
  display: none;
  z-index: 2;
}
.header__cart-list::before {
  content: "";
  border-width: 20px 30px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  border-top: none;
  position: absolute;
  top: -10px;
  right: 10px;
}
.header__cart-list::after {
  content: "";
  display: block;
  width: 100%;
  height: 12px;
  position: absolute;
  top: -12px;
  left: 0;
}
.header__cart-list-img {
  width: 300px;
  margin: 16px 0;
  display: none;
}
.header__cart-list-description {
  font-size: 1.6rem;
  color: #333;
  text-align: center;
  margin-bottom: 16px;
  display: none;
}
.header__cart-list-has-cart {
  display: flex;
  flex-direction: column;
}
.header__cart-heading {
  color: #999;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 12px;
}
.header__cart-product-list {
  list-style: none;
}
.header__cart-product-item {
  padding: 4px 16px;
}
.header__cart-product-item:hover {
  background-color: #fafafa;
}
.header__cart-product-item-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
.header__cart-product-item-img {
  width: 60px;
}
.header__cart-product-item-head {
  display: flex;
  justify-content: space-between;
}
.header__cart-product-item-info {
  padding-left: 12px;
}
.header__cart-product-item-title {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.header__cart-product-item-price {
  font-size: 1.4rem;
  color: #fb5533;
}
.header__cart-product-item-description {
  font-size: 1.4rem;
  color: #999;
  margin-top: 4px;
}
.header__cart-list--no-cart .header__cart-list-img, .header__cart-list--no-cart .header__cart-list-description {
  display: block;
}
.header__cart-check {
  margin: 8px 10px 8px auto;
}

.model__container.register .auth-form--register {
  display: block;
}

.model__container.login .auth-form--login {
  display: block;
}

.auth-form {
  padding: 32px;
}
.auth-form__heading {
  font-size: 2rem;
  font-weight: 500;
  padding: 16px 0;
}
.auth-form__group {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.auth-form__input {
  padding: 12px 0;
  position: relative;
}
.auth-form__input-area {
  padding: 12px 16px;
  font-size: 1.4rem;
  outline: none;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.auth-form__input-area:focus {
  border: 1px solid #000;
}
.auth-form__input-area::placeholder {
  color: #999;
  font-weight: 300;
}
.auth-form__input-eye {
  position: absolute;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;
  padding: 8px;
  margin-right: 8px;
  font-size: 1.4rem;
  color: #333;
}
.auth-form__input--has-password.active .auth-form__input-eye--open {
  display: block;
}
.auth-form__input--has-password.active .auth-form__input-eye--close {
  display: none;
}
.auth-form-btn {
  margin-left: auto;
  margin-top: 12px;
}
.auth-form-separate {
  font-size: 1.4rem;
  color: #999;
  text-align: center;
  margin-top: 24px;
  position: relative;
}
.auth-form-separate::before {
  content: "";
  display: block;
  height: 2px;
  width: calc(50% - 40px);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: red;
}
.auth-form-separate::after {
  content: "";
  display: inline-block;
  height: 2px;
  width: calc(50% - 40px);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  color: red;
}
.auth-form-help {
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
}
.auth-form-help-forgot, .auth-form-help-sms {
  color: #0505da;
  font-size: 1.2rem;
  text-decoration: none;
}
.auth-form-help-forgot:hover, .auth-form-help-sms:hover {
  opacity: 0.8;
}
.auth-form__connect {
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
}
.auth-form__connect-item {
  font-size: 1.4rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px 12px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth-form__connect-item:hover {
  cursor: pointer;
  background-color: #fafafa;
}
.auth-form__connect-icon {
  font-size: 2rem;
  margin-right: 8px;
}
.auth-form__privacy {
  margin: 0 56px;
  font-size: 1.3rem;
  color: #333;
  text-align: center;
}
.auth-form__privacy-link {
  color: #fb5533;
  text-decoration: none;
}
.auth-form__switch {
  font-size: 1.4rem;
  margin-top: 32px;
  color: #ccc;
  font-weight: 300;
  text-align: center;
}
.auth-form__switch-link {
  color: #fb5533;
  text-decoration: none;
}

.auth-form.auth-form--register {
  display: none;
}

.auth-form.auth-form--login {
  display: none;
}

.container-wrapper {
  background-color: #f5f5f5;
  border-bottom: 4px solid #fb5533;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 16px;
  padding-top: 20px;
  width: 1200px;
  max-width: 100%;
  margin: auto;
}
.container__category {
  grid-column: 1/2;
  margin-top: 16px;
}
.container__category-heading {
  color: #333;
  font-size: 1.6rem;
  padding: 8px;
  margin-bottom: 12px;
  position: relative;
}
.container__category-heading-icon {
  font-size: 1.3rem;
  margin-right: 4px;
}
.container__category-list {
  list-style: none;
  padding-left: 4px;
  padding-top: 8px;
  border-top: 1px solid #ddd;
}
.container__category-item {
  font-size: 1.4rem;
  padding: 8px;
  position: relative;
}
.container__category-item:hover {
  cursor: pointer;
  color: #fb5533;
  transition: color linear 0.15s;
  position: relative;
  left: 2px;
}
.container__category-item.active {
  color: #fb5533;
}
.container__category-item.active::before {
  content: "";
  display: block;
  border: 5px solid;
  border-color: transparent transparent transparent #fb5533;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -2px;
}
.container__product {
  grid-column: 2/7;
}
.container__product-heading {
  font-size: 1.4rem;
  background-color: #ededed;
  display: flex;
  align-items: center;
  padding: 14px 20px;
  border-radius: 3px;
  color: #333;
}
.container__product-heading-description {
  margin-right: 12px;
}
.container__product-heading-btn {
  margin: 0 6px;
  min-width: 90px;
}
.container__product-heading-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 4px;
  width: 200px;
  position: relative;
}
.container__product-heading-select:hover .container__product-heading-select-list {
  display: block;
}
.container__product-heading-select-list {
  list-style: none;
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  right: 0;
  padding: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background-color: #fff;
  animation: fadeIn linear 0.2s;
  display: none;
}
.container__product-heading-select-list::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  top: -2px;
  left: 0;
}
.container__product-heading-select-item {
  padding: 12px 16px;
  text-align: left;
}
.container__product-heading-select-item:hover {
  color: #fb5533;
}
.container__product-heading-paginate {
  font-size: 1.6rem;
  margin-left: auto;
  display: flex;
  align-items: center;
}
.container__product-heading-paginate-current {
  color: #fb5533;
}
.container__product-heading-paginate-total {
  margin-right: 16px;
}
.container__product-heading-paginate-control {
  display: flex;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 2px #ccc;
  position: relative;
}
.container__product-heading-paginate-control span {
  width: 1px;
  background-color: #ededed;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  bottom: 0;
}
.container__product-heading-paginate-previous, .container__product-heading-paginate-next {
  background-color: #fff;
  padding: 12px 16px;
  font-size: 1.2rem;
  border: 1px solid #fafafa;
}
.container__product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 12px;
  grid-template-rows: 1fr 1fr;
  margin-top: 12px;
  list-style: none;
}
.container__product-item {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  position: relative;
}
.container__product-item:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 12px #ccc;
}
.container__product-item-link {
  color: #333;
  text-decoration: none;
  height: 100%;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
}
.container__product-item-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  flex-shrink: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.container__product-item-info {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.container__product-item-title {
  font-weight: 500;
  line-height: 1.4rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  height: 2.8rem;
}
.container__product-item-price-range {
  margin: 8px 0;
  margin-bottom: auto;
}
.container__product-item-price-range p {
  display: inline;
  color: #777;
  text-decoration: line-through;
  font-size: 1.3rem;
  margin-right: 4px;
}
.container__product-item-price {
  color: #fb5533;
  font-size: 1.6rem;
}
.container__product-item-response {
  display: flex;
  margin-top: 8px;
}
.container__product-item-like {
  flex: 1;
}
.container__product-item-liked {
  display: none;
  color: #fb5533;
}
.container__product-item-rate, .container__product-item-rated {
  font-size: 0.9rem;
}
.container__product-item-rated {
  display: none;
  color: #ffce3d;
}
.container__product-item-sold {
  margin-left: 8px;
}
.container__product-item-place {
  margin-top: 8px;
  text-align: right;
  color: #666;
}
.container__product-item-favorite {
  font-size: 1.2rem;
  position: absolute;
  top: 8px;
  left: -4px;
  background-color: #fb5533;
  padding: 2px 4px;
  color: #fff;
  border-radius: 2px;
  border-bottom-left-radius: unset;
}
.container__product-item-favorite::before {
  content: "";
  border-top: 4px solid red;
  border-left: 4px solid transparent;
  position: absolute;
  left: 0;
  bottom: -4px;
}
.container__product-item-discount {
  font-size: 1.2rem;
  width: 36px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 212, 36, 0.9);
  color: #fff;
  text-align: center;
  padding: 4px 2px;
}
.container__product-item-discount::after {
  content: "";
  border-width: 4px 18px;
  border-style: solid;
  border-color: transparent rgba(255, 212, 36, 0.9) transparent rgba(255, 212, 36, 0.9);
  border-top: none;
  position: absolute;
  bottom: -4px;
  left: 0;
}
.container__product-item-discount-percent {
  color: #fb5533;
  font-size: 1.3rem;
  margin-bottom: 4px;
}
.container__product-paginate {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: #999;
  margin: 48px 0 160px;
}
.container__product-paginate-icon, .container__product-paginate-page {
  cursor: pointer;
  padding: 4px 14px;
  margin: 0 16px;
}
.container__product-paginate-page--current {
  background-color: #fb5533;
  color: #fff;
  border-radius: 3px;
}
.container__product-paginate-page--current:hover {
  opacity: 0.9;
}

.footer-wrapper {
  background-color: #fbfbfb;
}

.footer {
  width: 1200px;
  max-width: 100%;
  margin: auto;
}
.footer__info {
  margin-top: 120px;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 16px;
}
.footer-heading {
  padding-top: 50px;
  color: #737373;
  font-weight: 600;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.footer-description-list {
  list-style: none;
  margin-bottom: 32px;
}
.footer-description-item {
  padding: 6px 0;
}
.footer-description-item-link {
  text-decoration: none;
  color: #737373;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.footer-description-item-link:hover {
  color: #fb5533;
}
.footer-description-item-link:hover .footer-description-item-icon {
  color: #737373;
}
.footer-description-item-icon {
  font-size: 1.6rem;
  margin-right: 8px;
}
.footer-description-download-list {
  display: flex;
}
.footer-description-qr-code {
  width: 88px;
}
.footer-description-item-img {
  width: 60%;
  display: block;
  margin-left: 16px;
}
.footer__copyright {
  font-size: 1.4rem;
  color: #737373;
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}
.footer__copyright-own {
  margin-right: 60px;
}
.footer__copyright-countries {
  display: flex;
  flex: 1;
}
.footer__copyright-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 2rem;
}
.footer__copyright-item {
  padding: 0 8px;
  position: relative;
}
.footer__copyright-item::before {
  content: "";
  height: 14px;
  border-left: 1px solid #737373;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.footer__copyright-item:last-child::before {
  content: "";
  border-left: unset;
}
.footer__copyright-item-link {
  text-decoration: none;
  color: #737373;
}
.footer__copyright-item-link:hover {
  opacity: 0.9;
}

/*# sourceMappingURL=style.css.map */
